@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb))
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* button- btn */

.btn-primary {
  @apply bg-purple-500 hover:bg-purple-300 text-center text-white py-2 px-4 rounded transition-all cursor-pointer font-bold;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}


.btn-disabled {
  @apply bg-gray-300 text-white py-2 px-4 rounded transition-all disabled:opacity-75
}

/* chevron */
.chevron-btn {
  @apply mr-2 hover:shadow-md hover:font-bold text-white  bg-purple-500  hover:bg-purple-400 relative block py-1.5 px-3  border-0  outline-none transition-all duration-300 rounded  focus:shadow
}
.chevron-btn-right {
  @apply  ml-2 hover:shadow-md hover:font-bold text-white  bg-purple-500   hover:bg-purple-400 relative block py-1.5 px-3  border-0  outline-none transition-all duration-300 rounded  focus:shadow
}

.chevron-disabled {
  @apply bg-gray-400 text-white  rounded transition-all shadow-2xl relative block py-1.5 px-3 border-0  outline-none  duration-300 disabled:opacity-75
}


/* input */

.input-auth {
  @apply px-5 py-2 border bg-purple-100 rounded focus:outline-none focus:ring-2 focus:ring-purple-500 transition duration-300;
}
